<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container{% if page.navbar == 'fluid' %}-fluid px-0{% endif %}">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ya ya-bar"></i>
        </button>
        <a class="navbar-brand" href="/">{{ config.brand | upper }}</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('page.calendar') }}">Calendar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('page.booking.index') }}" data-toggle="dropdown">Booking</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('page.booking.index') }}">Show all booking</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('page.booking.new') }}">Create booking</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('page.booking.index') }}" data-toggle="dropdown">Shop</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('page.shop.index') }}">Show all Shop</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('page.shop.new') }}">Create new Shop</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ path('page.calendar') }}">Gallerie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>