{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Booking List</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>BeginAt</th>
                            <th>EndAt</th>
                            <th>Title</th>
                            <th>Shop</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.id }}</td>
                            <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ booking.title | capitalize}}</td>
                            <td>{{ booking.shop.name | capitalize }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary mr-2" href="{{ path('page.booking.show', {'id': booking.id}) }}">show</a>
                                <a class="btn btn-sm btn-soundcloud" href="{{ path('page.booking.edit', {'id': booking.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-sm btn-primary" href="{{ path('page.booking.new') }}">Create new Booking</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
