{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Create new Booking</h1>
                {{ include('booking/_form.html.twig') }}
                <button class="btn btn-primary" href="{{ path('page.booking.index') }}">back to list</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
