<form method="post" action="{{ path('page.shop.delete', {'id': shop.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shop.id) }}">
    <button class="btn btn-danger mt-3">Delete</button>
</form>
