{% extends 'base.html.twig' %}

{% block title %}Edit Shop{% endblock %}

{% block body %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Edit Shop #{{ shop.id }}</h1>
                {{ include('shop/_form.html.twig', {'button_label': 'Update'}) }}
                <button class="btn btn-primary" href="{{ path('page.shop.index') }}">back to list</button>
                {{ include('shop/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
