{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-5">
        <div class="container">
            <div class="row">
                {% for shop in shops %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ shop.name | capitalize }}</h5>
                            <p class="card-text">{{ shop.description | capitalize }}</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-discord" href="{{ path('page.booking.new') }}">Booking now</a>
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn btn-primary" href="{{ path('page.shop.show', {'id': shop.id}) }}">See details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
