{% extends 'base.html.twig' %}

{% block title %}New Shop{% endblock %}

{% block body %}
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Create new Booking</h1>
                    {{ include('shop/_form.html.twig') }}
                    <button class="btn btn-primary" href="{{ path('page.shop.index') }}">back to list</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
