{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Shop : #{{ shop.id }}</h1>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ shop.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ shop.name | capitalize }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ shop.description | capitalize }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ shop.city }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-secondary" href="{{ path('page.shop.index') }}">back to list</a>
                    <a class="btn btn-primary" href="{{ path('page.shop.edit', {'id': shop.id}) }}">edit</a>

                    {{ include('shop/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
