<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />
        <!-- css: theme -->
        <link rel="stylesheet" href="{{ asset("assets/css/theme.min.css") }}">
        <title>{% if page.title %}{{ page.title ~ ' - ' }}{% endif %}{{ config.brand }}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% if (page.navbar != 'static') and (config.navbar == 'fixed') and (page.header != false) %}fixed-navbar{% endif %}{% if page.footer == 'sticky' %} sticky-footer{% endif %}{% if page.class %} {{ page.class }}{% endif %}">
        <div class="site{% if page.center %} d-flex align-items-center{% endif %}">
            {% if page.header != false %}
                <header class="site-header">
                    {% include 'includes/header.html.twig' %}
                </header>
            {% endif %}

            <div class="site-content{% if page.center %} w-100{% endif %}" role="main">
                {% block body %}{% endblock %}
            </div>
            {% if page.footer != false %}
                <footer class="site-footer bg-dark">
                    {% include 'includes/footer.html.twig' %}
                </footer>
            {% endif %}
        </div>
        <script src="{{ asset("assets/js/jquery.min.js") }}"></script>
        <script src="{{ asset("assets/js/bootstrap.bundle.min.js") }}"></script>
        <!-- js: theme -->
        <script src="{{ asset("assets/js/theme.bundle.min.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
